
html {
        font: 16px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
        background-color: black;
        margin: 0em;
        padding-top: 0em;
        background-image: url("lennon-cheng-yAeUPmbyS-0-unsplash.jpg");
        background-size: auto;
        /* background-repeat: no-repeat; */
}

h1, h2, h3, h4, h5, h6 {
        margin-top: 0em;
        margin-bottom: 0em;
}

.offsetImage {
        max-height: 12em;
}

.playStoreButton {
        vertical-align: middle;
        max-height: 6em;
}

pre {
        padding: 1em;
        border-radius: 10px;
        /* white-space: pre-wrap; */
        overflow-x: auto;

}

.limited {
        max-width: calc(76em + 1px);

        padding-top: 1.3em;
        padding-bottom: 1.3em;
        padding-left: 1em;
        padding-right: 1em;
        margin: auto;
}

.feature {
        margin: 0em 1em;
        padding: 12px;
        width: 14em;
        height: 16em;
        text-align: center;
        align-items: center;
        background-color: white;
        color: black;
        border-radius: 25px;
}

.feature > figcaption {
        width: 12em;
        margin: auto;

}

.features {
  display: flex;
  flex-wrap: wrap;    
  align-items: center;
  justify-content: center;
}

.centered {
        text-align: center;
}


.stripe {
        width: 100%;
        margin: 0;
}

.imageStripe {
  display: flex;
  flex-wrap: nowrap;    
  justify-content: center;
  width: 100%;
  margin: 0;
}


.blackBox {
        background-color: black;
        flex-grow: 1;
}

.whiteBox {
        background-color: white;
        flex-grow: 1;
}


.white {
        /* background-color: #d33847; */
        /* background-color: rgba(211, 56, 71, 0.95); */
        background-color: white;
        color: black;
        /* text-shadow: 0 2px 0 white; */
        /* box-shadow: 0 0 70px 10px rgba(211,56,71,.5) inset; */

        /* box-shadow: 0 0 70px 2px rgba(0,0,0,.5) inset; */
}

.black {
        /* background-color: #272727; */
        background-color: black;
        /* background-color: transparent; */
        color: #eee;
}

a.learnButton {
        max-height: 6em;
        font-size: 1.125em;
        background: #999;
        border-radius: 5px;
        border: 0;
        cursor: pointer;
        display: inline-block;
        padding: 8px 34px;
        background: #fff;
        color: black;
        font-weight: 500;
        box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
        margin: 15px;
        text-shadow: none;
        text-decoration: none;
}

a.learnButton:hover {
        background: #ffd1d6;
        background: linear-gradient(#fff,#ffd1d6);
        border: 0;
        outline: 0;
}

a.button {
        font-size: 1.125em;
        background: #999;
        border-radius: 5px;
        border: 0;
        cursor: pointer;
        display: inline-block;
        padding: 8px 34px;
        background: #fff;
        color: #f03b4d;
        font-weight: 500;
        box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
        margin: 15px;
        text-shadow: none;
        text-decoration: none;
}

a {
        color: #eee;
}
a.visited {
        color: #eee;
}

a.button:hover {
        background: #ffd1d6;
        background: linear-gradient(#fff,#ffd1d6);
        border: 0;
        outline: 0;
}

/*

a.button.inverted {
        background: 0 0;
        background-color: rgba(0, 0, 0, 0);
        color: #fff;
        padding: 6px 30px;
        border: 2px solid #fff;
        font-weight: 500;
}

a.button.inverted:hover {
        background-color: rgba(255,255,255,.15);
}


img {
  max-width: 100%;
  height: auto;
}
*/


/*
 * A trick from https://blog.theodo.com/2018/01/responsive-iframes-css-trick/
 * to make the iframe responsive
 */

.resp-container {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
}

.resp-iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
}

input {
        font-size: 16px;
}

.featureImage {
        width: 12em;
        height: 7em;
        margin: 1em;
}

.inverted {
        filter: invert(1);
}

/* Tooltip based on https://stackoverflow.com/a/53875907 */

.tooltip {
  position: relative;
  border-bottom: 1px dotted white;
  text-decoration: underline;
}
.tooltip span {
  visibility: hidden;
  width: 10em;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 9;
  top: -1em;
  left:  100%;
  margin-left:1em;
  opacity: 0;
  transition: opacity 1s;
}
.tooltip span::after {
  content: "";
  position: absolute;
  top: 1.5em;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip input {
  display:none;
}
.tooltip input:checked+span {
  visibility: visible;
  opacity: 1;
}



.bottomLink {
        padding: 1em;
}
