
html {
        font: 16px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
        background-color: black;
        margin: 0em;
        padding-top: 0em;
}

h1, h2, h3, h4, h5, h6 {
        margin-top: 0em;
        margin-bottom: 0em;
}

.offsetImage {
        max-height: 12em;
}

.playStoreButton {
        vertical-align: middle;
        max-height: 6em;
}

.limited {
        max-width: calc(76em + 1px);

        padding-top: 1.3em;
        padding-bottom: 1.3em;
        padding-left: 1em;
        padding-right: 1em;
        margin: auto;
}

.feature {
        margin: 0em 1em;
        padding: 12px;
        width: 14em;
        height: 16em;
        text-align: center;
        align-items: center;
        background-color: white;
        color: black;
}

.feature > figcaption {
        width: 12em;
        margin: auto;

}

.features {
  display: flex;
  flex-wrap: wrap;    
  align-items: center;
  justify-content: center;
}

.centered {
        text-align: center;
}


.stripe {
        width: 100%;
        margin: 0;
}

.image-stripe {
  display: flex;
  flex-wrap: nowrap;    
  justify-content: center;
  width: 100%;
  margin: 0;
}


.blackBox {
        background-color: black;
        flex-grow: 1;
}

.whiteBox {
        background-color: white;
        flex-grow: 1;
}


.white {
        background-color: white;
        color: black;
}

.black {
        background-color: black;
        color: #eee;
}

a.learn-button {
        font-size: 1.4em;
        background: #999;
        border-radius: 5px;
        border: 0;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        padding: 15px 16px;
        margin: 15px;
        vertical-align: middle;
        background: #fff;
        color: black;
        font-weight: 500;
        box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
        text-shadow: none;
        text-decoration: none;
}

a.learn-button:hover {
        background: linear-gradient(#fff,grey);
        border: 0;
        outline: 0;
}

a.video-button {
        font-size: 1.4em;
        background: #999;
        border-radius: 5px;
        border: 0;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        padding: 15px 16px;
        margin: 15px;
        vertical-align: middle;
        background: #fff;
        color: black;
        font-weight: 500;
        box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
        text-shadow: none;
        text-decoration: none;
}

a.video-button:hover {
        background: linear-gradient(#fff,grey);
        border: 0;
        outline: 0;
}

.image-icon {
        height: 1.5em;;
        vertical-align: middle;
        margin: 0em 0.4em 0em 0em;
}

a {
        color: black;
}
a.visited {
        color: black;
}

.bottom-link a {
        font-size: 1.2em;
        color: #eee;
}
.bottom-link a.visited {
        font-size: 1.2em;
        color: #eee;
}

input {
        font-size: 16px;
}

.featureImage {
        width: 12em;
        height: 7em;
        margin: 1em;
}

.inverted {
        filter: invert(1);
}

/* Tooltip based on https://stackoverflow.com/a/53875907 */

.tooltip {
  position: relative;
  border-bottom: 1px dotted white;
  text-decoration: underline;
}
.tooltip span {
  visibility: hidden;
  width: 10em;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  padding: 5px 0;
  position: absolute;
  z-index: 9;
  top: 2em;
  left: -50%;
  margin-left:1em;
  opacity: 0;
  transition: opacity 1s;
}
.tooltip span::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.tooltip input {
  display:none;
}
.tooltip input:checked+span {
  visibility: visible;
  opacity: 1;
}

.bottom-link {
        padding: 0.8em;
}


.links {
        display: flex;
        flex-wrap: wrap;    
        justify-content: center;
}


input[type=email] {
  display: inline-block;
  color: black;
  padding: 0.6em;
  width: 220px;
  box-sizing: border-box;
  background-color: rgba(180,180,180,1);
  border: none;
  border-radius: 2px;
  margin: 0.2em auto;
  transition:background-color 0.5s ease;
  vertical-align: middle;
}

input[type=email]:focus {
  background-color: rgba(255,255,255,1);
}

.subscribe-button {
        background: #999;
        border-radius: 2px;
        border: 0;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        padding: 0.6em 0.5em;
        margin: 0.2em auto;
        vertical-align: middle;
        background: #fff;
        color: black;
        box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
        text-shadow: none;
        text-decoration: none;
}

.subscribe-button:hover {
        background: linear-gradient(#fff,grey);
        border: 0;
        outline: 0;
}
